<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Avada Kedavera - My Nerdy Website Thing</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/the-big-picture.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container" style="">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <h1><font color="white">
                    Welcome to Hogwarts
                </h1></font>
                <i><font color="white">
                    <p>
                        You might belong in Gryffindor, where dwell the brave at heart.  Their daring, nerve, and chivalry set Gryffindors apart.</p>
                    <p>
                        You might belong in Hufflepuff, where they are just and loyal.  Those patient Hufflepuffs are true and unafraid of toil.</p>
                    <p>
                        Or yet in wise old Ravenclaw, if you've a ready mind.  Where those of wit and learning will always find their kind.</p>
                    <p>
                        Or perhaps in Slytherin you'll make your real friends.  Those cunning folks use any means to achieve their ends.</p>
                </i></font>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
